.HighScorePage{
    text-align: center;
    
    list-style-position: inside;
    background-color: blue;
}
.ScoreList{
    background-color: red;
    text-align: center;
    

}
table, th, td {
    border:2px solid black;
    padding: 8px;
    margin-left: auto;
  margin-right: auto;

  }
  