//Example SASS CSS file
.Container {
  position: absolute;
  left: 50%;
  top: 50%;
  padding:15px;

  transform: translate(-50%, -50%);
  text-align: center;
  background-color: whitesmoke;
  z-index: 1;
  border-radius: 3px;


}
.LoginForm {
  background-color:whitesmoke;
  margin: 30px;
  display: inline-block;
  z-index: 1;

}


  .LoginForm button {
    background-color: red;
    position: relative;
    left: 50%;
    margin-top: 15%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    align-items: center;
    color: black;
    z-index: 1;
    border-color: white;
    border-radius: 3px;

  }
  
.createAcctContainer{
position:relative;
  background-color:whitesmoke;
  border-radius: 3px;

    display:flex;
    z-index: 1;
    padding-top: 5px;
    margin-bottom: 5%;
padding:10px
}
.createAcctContainer button{
  margin: -4px 10px;
  background-color: red;
border-color: white;
border-radius: 3px;

  
}
.toaster{
  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
        z-index: 5;
}
button:hover{
  background-color:#38b6ff
}